body {
  color: black;
  margin: 40px;
  font-family: Helvetica;
  background-color: rgb(245, 245, 220);
}

.intro {
  color: blue;
}

.subtitle {

}

.pagetitle {
  text-align: center;
  font-size: 100;
}
