<head>
<link rel="stylesheet" type="text/css" href="mystyle.css">
<style>

body {
  background-color: pink;
}
h1 {
  color:red;
  margin left: 20px;
}
</style>
</head>

background-image: url("adventure.jpg");
color: rgb(65,75,86);
font family: sans-serif;
margin: 0px;
}

div {
min-height: 100vh;
width: 100vw;
}
h1, h2 {
text align: center;
}
h1{
font size: 5em;
}
p {
  width:40%
  margin: 10vh 10vw;
  font-size: em;
}
</html>
bgcolor="pink"
