<head>
<link rel="stylesheet" type="text/css" href="DOs and DONTs.css">
<style>
body {
  background-color: rgb(245,245,220);
  background-image:
  url("/cameroon 1.jpg");
}
div {
  background-color: rgb(245,245,220);
}
h1 {
  color:red;
  margin left: 20px;
}
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
</style>
</head>
